@model DepartmentView
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete @Model.Name Department</h1>
@* <div>asp-validation-summery="All"</div> *@
<form asp-action="Delete">
    <partial name="PartialViews/_DelateDetailsDepartmentPartial" />
    <br />
    <input type="submit" value="Delete" class="btn btn-danger"/>
    <a asp-action="Index" class="btn btn-light">Cancel</a>
</form>

