@model Employee
@{
    ViewData["Title"] = "Delete";
}

<h1>Delete @Model.Name</h1>
<form asp-action="Delete">
    <partial name="PartialViews/_DeleteDetailsEmployeePartial" />
    <br />
    <input type="submit" value="Delete" class="btn btn-danger" />
    <a asp-action="Index" class="btn btn-light">Cancel</a>
</form>

