@model DepartmentView
<div>
    <label class="col-form-label" asp-for="Code"></label>
    <input class="form-control" asp-for="Code" />
    <span asp-validation-for="Code" class="text-danger"></span>
</div>
<div>
    <lable class="col-form-label" asp-for="Name">Name</lable>
    <input class="form-control" asp-for="Name" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>
<div>
    <lable class="col-form-label" asp-for="DateOfCreation">Date of cration</lable>
    <input class="form-control" asp-for="DateOfCreation" />
</div>