@model DepartmentView
<div>
    <label class="col-form-label" asp-for="Code"></label>
    <input readonly class="form-control" asp-for="Code" />

</div>
<div>
    <lable class="col-form-label" asp-for="Name">Name</lable>
    <input readonly class="form-control" asp-for="Name" />

</div>
<div>
    <lable class="col-form-label" asp-for="DateOfCreation">Date of cration</lable>
    <input readonly class="form-control" asp-for="DateOfCreation" />
</div>